{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div class="container-fluid">
  
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item "><a href="{% url 'registration:list'%}">Usuarios</a></li>
    <li class="breadcrumb-item active">crear</li>
  </ol>
  <!-- / Breadcrumbs-->


  
<div class="row">
    <div class="col-12">
          <!-- colla2-->
<form method="post">
                      {% csrf_token %}
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          Registrar usuario
        </h5>
      </div>
      <div id="form">
      
        <div class="card-body">
         {% for field in form %}
          <div class="row">
            <div class="col-12">

               <div class="form-group col-12">
                        {{ field.label }}:
                        {% render_field  field class="form-control" %}

                        <small id="passwordHelpBlock" class="form-text text-muted">
                          {{field.errors}}
                        </small>
                        
                    </div>


            </div>    
          </div>
        {% endfor %}
        </div>

        <div class="card-footer mb-3">
                  <div class="row mb-3">
                    <div class="col-12">
                        
                          

                          <button type="submit" name="save" class="btn btn-primary btn-block">Registrar</button>
                    </div>
                  </div>
               
            </div><!-- / card footer -->


      </div>
    </div>
    </form>


    </div>
  </div><!-- / row -->



</div>
<!-- /.container-fluid -->

<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Restalli.com 2018</span>
    </div>
  </div>
</footer>


{% endblock %}





