.pyc
*.pyc
.sqlite3
*.pyc

*.pyc

restalli/comun/migrations/__pycache__/0001_initial.cpython-36.pyc

restalli/comun/migrations/__pycache__/0002_sucursal_nombre.cpython-36.pyc

restalli/menu/__pycache__/forms.cpython-36.pyc

restalli/menu/migrations/__pycache__/0002_auto_20181114_1837.cpython-36.pyc

restalli/restalli/__pycache__/settings.cpython-36.pyc

restalli/restalli/__pycache__/settings.cpython-36.pyc

restalli/stock/__pycache__/urls.cpython-36.pyc
