

{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Menu</li>
  </ol>


  <div class="row">
    <div class="col-8">
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
        Menu / 
        <a class="btn btn-primary ml-3 right" href="{% url "menu:create" %}">Agregar Platillo</a>
        </div>
        <div class="card-body">
          {% if productoStock_list %}
          <!-- code here to list the books -->
          {% else %}
          <p>No Existen Platillos/ productos.</p>
          {% endif %}

          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Imagen</th>
                            <th>Platos/ Productos</th>
                            <th>Precio</th>
                            <th>Acción</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Imagen</th>
                            <th>Platos/ Productos</th>
                            <th>Precio</th>
                            <th>Acción</th>
                  
                </tr>
              </tfoot>
              <tbody>
             {% for menu in productosMenu_list %}
                        <tr>
                            <td>
                                <img src="{{menu.imagen.url}}" alt="Platillo" width="110" height="100">
                            </td>
                            <td>

                                <div class="row">
                                    <div class="col-12">
                                        <a class="" href="{% url "menu:detail" pk=menu.uuid %}">{{ menu.nombre }} </a>

                                        
                                    </div>
                                    <div class="col-12">
                                        <small>Categoria: <a class="" href=""">{{ menu.categoria_uuid }} </a></small>

                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="small">{{menu.descripcion}}</p>
                                    </div>
                                    
                                </div>

                            </td>
                            <td>
                                <div class="row">
                                    
                                    <div class="col-12">
                                        <h3>${{ menu.precio }}</h3>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <input type="hidden" id="uuid" name="uuid" value="{{menu.uuid}}">
                                            <input type="hidden" id="add" name="add" value="add">
                                            <input class="form-control" min="1" type="number" name="qty" id="qty" value="0" placeholder="0">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="submit" value="Add" class="btn-sm btn-primary">
                                        </div>
                                    </div>
                                </form>
                                
                                
                            </td>
                        </tr>
                        {% endfor %}
              </tbody>
            </table>

            {% block pagination %}
    {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
    {% endblock %}


          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM
    
        </div>
      </div>
    </div>




    <div class="col-4">
    
      <div class="row">
        
        <div class="card" style="">
          <div class="card-header">
            Categorias
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for categoria in categorias_list %}
                <li class="list-group-item">
                    <a href="{% url 'menu:list' %}?categoria={{ categoria.uuid }}">{{categoria.nombre}}</a></li>
                    {% endfor %} 
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        
        <div class="card" style="">
          <div class="card-header">
            Seleccion
          </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <form method="post">
              {% csrf_token %}
              <thead>
                <th>Ctdad.</th>
                        <th>Producto</th>
                        <th>Precio</th>
              </thead>
              <tfoot>
                <th>Ctdad.</th>
                        <th>Producto</th>
                        <th>Precio</th>
              </tfoot>
            
         
              <tbody>
                {% for cartProduct in cart_list %}   
                        <tr>
                            <td>
                                <input class="form-control form-sm " id="cantidad" type="number" min="1" max="10" value="{{cartProduct.qty}}">
                            </td>

                            <td>
                                <p>{{cartProduct.nombre}}</p>
                            </td>

                            <td>
                                <b>${{cartProduct.precio}}</b>
                            </td>                                         
                        </tr>
                        {% endfor %}
                <tr>
                            <td colspan="2" >
                                <p align="right"> TOTAL:</p>
                            </td>
                            <td colspan="2">
                                <b>{{total_cart}}</b> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="left">
                                
                                <button type="submit" name="clear" class="btn btn-danger">Limpiar pedido</button>
                                <button type="submit" name="pedido" class="btn btn-default">Actualizar pedido</button>

                                
                            </td>
                        </tr>
                  <tr>
                            
                            <td colspan="4" align="right">
                                <a class="btn btn-success" href="{% url 'pedidos:create' %}">Continuar</a>
                            </td>
                            
                        </tr>

                    </tbody>
                </form>
            
          </table>
        </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  
  

  <p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
  </p>

</div>
<!-- /.container-fluid -->

<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Your Website 2018</span>
    </div>
  </div>
</footer>
{% endblock %}





