

{% extends "base_movil.html" %}

{% block content %}


  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/movil">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Menu</li>
  </ol>

  <div class="row">
    <div class="col-12">
      <div class="mcard" style="">
        <div class="mcard-header">
          <h3>
            <i class="fas fa-fw fa-clipboard-check" ></i>
            Lista Pedidos
          </h3>
          <a class="btn btn-block btn-primary" href="{% url 'pedidos:mmenu' %}">Crear Pedido</a>
        </div>


        <div class="mcard-body  mt-4">
          <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Pedido</th>
                </tr>
              </thead>          
              <tbody>
                {% for pedido in pedidos_list %}
                <tr>
                  <td>
                    
                    <div class="row">
                      <div class="col-12">
                        <h2>
                          <center><a class="" href="{% url 'pedidos:mdetail' pk=pedido.uuid %}">
                            Pedido Nº {{ pedido.numero }} 
                          </a></center>
                        </h2>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-12">
                        <center>
                        <span class="badge badge-pill badge-info ">{{pedido.mesa.identificador}}</span></center>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <center>
                          {% if pedido.estadoPedido == "INIT" %}
                          <span class="badge badge-pill badge-primary">Pendiente</span>
                          {% elif pedido.estadoPedido == "WAIT" %}
                          <span class="badge badge-pill badge-warning">Espera</span>
                          {% elif pedido.estadoPedido == "OK" %}
                          <span class="badge badge-pill badge-default">Entregado</span>
                          {% elif pedido.estadoPedido == "CNCL" %}
                          <span class="badge badge-pill badge-danger">Cancelado</span>
                          {% elif pedido.estadoPedido == "FNLZ" %}
                          <span class="badge badge-pill badge-info">Finalizado</span>

                          {% elif pedido.estadoPedido == "PGD" %}
                          <span class="badge badge-pill badge-success">Pagado</span>
                          {% endif %}
                        </center>                   
                      </div>                      
                    </div>

                    
                    

                    <div class="row">
                      <div class="col-12">
                        <center><h3><span class="badge badge-pill badge-danger">${{pedido.total}}</span></h3></center>
                      </div>


                    </div>

                    <div class="row">

                      
                        {% if pedido.estadoPedido == "INIT" %}
                        <a class="btn btn-block btn-primary" href="{% url 'pedidos:mupdate' pk=pedido.uuid %}?estado=OK">Entregar </a>

                        {% elif pedido.estadoPedido == "OK" %}
                        <a class="btn btn-block btn-warning" href="{% url 'pedidos:mupdate' pk=pedido.uuid %}?estado=FNLZ">Finalizar </a>

                        {% elif pedido.estadoPedido == "FNLZ" %}

                        <a class="btn btn-block btn-success" href="{% url "venta:mcreate"%}?uuid={{pedido.uuid}}">Pagar </a>

                        {% elif pedido.estadoPedido == "PGD" %}
                        
                          <button type="button" class="btn btn-block btn-secondary" href="" disabled>PAGADO </button>

                        {% else %}
                        <a class="btn btn-block btn-info" href="{% url 'pedidos:mupdate' pk=pedido.uuid %}">Actualizar </a>
                        {% endif %}
                      
                    </div>





                    <div class="row">


                    </div>



                    <div class="row">
                      <div class="col-12">
                        <p class="small">{{pedido.created}}</p>
                      </div>

                    </div>




                    <div class="row">
                      <div class="col-12">
                        <p class="small"></p>
                      </div>
                    </div>
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div><!-- /table resp-->


        </div><!-- /card body-->

        <div class="mcard-footer small text-muted">

        </div><!-- /card footer-->
      </div><!-- /card-->

    </div><!-- / row -->





  <script  type="text/javascript" charset="utf-8">
    $(document).ready(function() {

      $('#dataTable').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25,50,  "Todos"]],
        "paging":false,
        "language": {
          search: "_INPUT_",
          searchPlaceholder: "Buscar...",
          "decimal":        "",
          "emptyTable":     "Sin informacion disponible para la tabla",
          "info":           "Ver _START_ hasta _END_ de _TOTAL_ registros",
          "infoEmpty":      "Mostrando 0 hasta 0 de 0 registros",
          "infoFiltered":   "(Filtrado de _MAX_ registros totales)",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing":     "Procesando...",

          "zeroRecords":    "No se encontro nada",
          "paginate": {
            "first":      "Primera",
            "last":       "Última",
            "next":       "Próxima",
            "previous":   "Anterior"
          },
          "aria": {
            "sortAscending":  ": activate to sort column ascending",
            "sortDescending": ": activate to sort column descending"
          }


        }
      });

    });
  </script>


  {% endblock %}







