{% extends "base_movil.html" %}
{% load widget_tweaks %}
{% block content %}

  



  
<div class="row">
    <div class="col-12">
          <div class="mcard" style="">
            <div class="mcard-header">
              <h3>
                <i class="fas fa-fw fa-clipboard-check"></i>
                Detalle Pedido
                </h3>
            </div>

            <div class="mcard-body">
              

              
              <dl class="row">
                <dt class="col-sm-12">Numero:</dt>
                <dd class="col-sm-12"><h2> PEDIDO Nº{{object.numero}}</h2></dd>

                <dt class="col-sm-12">Total:</dt>
                <dd class="col-sm-12"><h4> <span class="badge badge-danger">${{object.total}}</span></h4></dd>

                <dt class="col-sm-12">Mesa:</dt>
                <dd class="col-sm-12"><p>{{object.mesa.identificador}}</p></dd>
              </dl>


                    
              <form method="post">
                {% csrf_token %}
              {% if pedido.estadoPedido == "FNLZ" %}
                <a class="btn btn-block btn-warning" href="{% url "venta:mcreate"%}?uuid={{pedido.uuid}}">Pagar </a>
                {% else %}
                
                  <div class="row mb-4">
                    <div class="col-12">
                        <label><b>Estado:</b></label>
                    </div>
                    <div class="form-group col-12">
                        {% render_field form.estadoPedido class="form-control" %}

                        {% for error in form.estadoPedido.errors %}
                        <small id="passwordHelpBlock" class="form-text text-muted">
                          {{error}}
                        </small>
                        {% endfor %}
                    </div>
                  </div>

              {% endif %}

              <div class="row">
                {% if pedido.estadoPedido != "FNLZ" %}
                  <input type="submit" class="btn btn-block btn-primary" value="Actualizar">
                {% endif %}
              </div>
            </form>



              <div class="table-responsive mt-4">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                  
                  <thead>
                    <th>Producto</th>
                  </thead>

                    <tbody>
                  {% for selectProduct in items_list %}   
                  <tr>
                    <td>
                      <h3>{{selectProduct.nombre}}</h3>
                      <p>
                        <b>Cantidad: </b>
                        {{selectProduct.qty}}
                      </p>

                    
                      
                      
                      </h6><span class="badge badge-danger">${{selectProduct.precio}}</span></h6>
                      
                    </td> 
                  </tr>

                  {% endfor %}

                </tbody>
                
                </table>
              </div><!-- / table resp-->

            </div><!-- / card body-->

            <div class="mcard-footer mb-3">
            </div><!-- / card footer -->
        </div>
    </div>
  </div><!-- / row -->




<script  type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    $('#dataTable').DataTable({
        "paging" : false,
        "info":     false
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25,50,  "Todos"]],

      "language": {
        search: "_INPUT_",
        searchPlaceholder: "Buscar...",
        "decimal":        "",
        "emptyTable":     "Sin informacion disponible para la tabla",
        "info":           "Ver _START_ hasta _END_ de _TOTAL_ registros",
        "infoEmpty":      "Mostrando 0 hasta 0 de 0 registros",
        "infoFiltered":   "(Filtrado de _MAX_ registros totales)",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing":     "Procesando...",

        "zeroRecords":    "No se encontro nada",
        "paginate": {
          "first":      "Primera",
          "last":       "Última",
          "next":       "Próxima",
          "previous":   "Anterior"
        },
        "aria": {
          "sortAscending":  ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }


      }
    });
  });
</script>
{% endblock %}





