{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div class="container-fluid">
  

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item ">Pedidos</li>
    <li class="breadcrumb-item ">Nuevo</li>
    <li class="breadcrumb-item active">Detalle</li>
  </ol>
  <!-- / Breadcrumbs-->




  
<div class="row">
    <div class="col-12">
          <div class="card" style="">
            <div class="card-header">
               Pedido / Detalle
            </div>

            <div class="card-body">
              


              <dl class="row">
                <dt class="col-sm-3">Numero:</dt>
                <dd class="col-sm-9"><h2> PEDIDO Nº{{object.numero}}</h2></dd>

                <dt class="col-sm-3">Total:</dt>
                <dd class="col-sm-9"><h4>TOTAL: <span class="badge badge-danger">${{object.total}}</span></h4></dd>

                <dt class="col-sm-3">Mesa:</dt>
                <dd class="col-sm-9"><p>{{object.mesa.identificador}}</p></dd>
              </dl>
              {% if pedido.estadoPedido == "INIT" %}
                <a class="btn btn-block btn-warning" href="{% url "venta:create"%}?uuid={{pedido.uuid}}">Pagar </a>
                {% elif pedido.estadoPedido == "FNLZ" %}
                <span class="badge badge-pill badge-success">PAGADO</span>
              {% endif %}

              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  
                  <thead>
                            <th>Ctdad.</th>
                            <th>Producto</th>
                            <th>Precio</th>
                  </thead>

                    <tbody>
                  {% for selectProduct in items_list %}   
                  <tr>
                    <td>

                      {{selectProduct.qty}}
                    </td>

                    <td>
                      <p>{{selectProduct.nombre}}</p>
                    </td>
                    <td>
                      <b>${{selectProduct.precio}}</b>
                    </td> 
                  </tr>

                  {% endfor %}

                </tbody>
                
                </table>
              </div><!-- / table resp-->

            </div><!-- / card body-->

            <div class="card-footer mb-3">
            </div><!-- / card footer -->
        </div>
    </div>
  </div><!-- / row -->

<p class="small text-center text-muted my-5">
  <em>More table examples coming soon...</em>
</p>

</div>
<!-- /.container-fluid -->

<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Your Website 2018</span>
    </div>
  </div>
</footer>



<script  type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    $('#dataTable').DataTable({
        "paging" : false,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25,50,  "Todos"]],
      "language": {
        search: "_INPUT_",
        searchPlaceholder: "Buscar...",
        "decimal":        "",
        "emptyTable":     "Sin informacion disponible para la tabla",
        "info":           "Ver _START_ hasta _END_ de _TOTAL_ registros",
        "infoEmpty":      "Mostrando 0 hasta 0 de 0 registros",
        "infoFiltered":   "(Filtrado de _MAX_ registros totales)",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing":     "Procesando...",

        "zeroRecords":    "No se encontro nada",
        "paginate": {
          "first":      "Primera",
          "last":       "Última",
          "next":       "Próxima",
          "previous":   "Anterior"
        },
        "aria": {
          "sortAscending":  ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }


      }
    });
  });
</script>
{% endblock %}





