
{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="col-12">
		<form method="post">
			{% csrf_token %}
			<table>
				<tbody>
			{{form.as_table}}
				</tbody>
			</table>

			<input type="submit" value="Aceptar Pedido" class="btn btn-primary"/>
		</form>
</div>

<div class="col-12">
	<div class="table-responsive">
                            <table class="table">
                                <form method="post">
                                    {% csrf_token %}
                                    <thead>
                                        <th>Ctdad.</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                    </thead>
                                    <tbody>
                                        {% for cartProduct in cart_list %}   
                                        <tr>
                                            <td>
                                                <input class="form-control form-sm " id="cantidad" type="number" min="1" max="10" value="{{cartProduct.qty}}">
                                            </td>

                                            <td>
                                                <p>{{cartProduct.nombre}}</p>
                                            </td>

                                            <td>
                                                <b>${{cartProduct.precio}}</b>
                                            </td>                                         
                                        </tr>
                                        {% endfor %}
                                        <!--FIN PRUEBA-->
                                        <tr>
                                            <td colspan="2" >
                                                <p align="right"> TOTAL:</p>
                                            </td>
                                            <td colspan="2">
                                                <b>{{total_cart}}</b> </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" align="left">
                                                
                                                <button type="submit" name="clear" class="btn btn-danger">Limpiar pedido</button>
                                                <button type="submit" name="pedido" class="btn btn-default">Actualizar pedido</button>

                                              
                                            </td>
                                        <tr>
                                    </tbody>


                                </form>
                            </table>
                        </div>
</div>
{% endblock %}


