
{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="col-12">
		<form method="post">
			{% csrf_token %}
			<table>
				<tbody>
			{{form.as_table}}
				</tbody>
			</table>

			<input type="submit" value="Aceptar Pedido" class="btn btn-primary"/>
		</form>


<div class="row">
        
        
        <h4>Pedido Actual:</h4>
        <div class="table-responsive">
            <table class="table">
                
                    
                    <thead>
                        <th>Ctdad.</th>
                        <th>Producto</th>
                        <th>Precio</th>
                    </thead>
                    <tbody>
                        {% for cartProduct in cart_list %}   
                        <tr>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="uuid" name="uuid" value="{{cartProduct.uuid}}">
                                    <input type="hidden" id="update" name="update" value="Actualizar">
                                    <input class="form-control" min="1" type="number" name="qty" id="qty" value="{{cartProduct.qty}}" placeholder="0">

                                    <button type="submit" name="update" value="Actualizar" class="btn btn-default">Actualizar</button>
                                </form>
                            </td>

                            <td>
                                <p>{{cartProduct.nombre}}</p>
                            </td>

                            <td>
                                <b>${{cartProduct.precio}}</b>
                            </td>                                         
                        </tr>
                        {% endfor %}
                        <!--FIN PRUEBA-->
                        <tr>
                            <td colspan="2" >
                                <p align="right"> TOTAL:</p>
                            </td>
                            <td colspan="2">
                                <b>{{total_cart}}</b> </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="left">
                                <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="clear" class="btn btn-danger">Limpiar pedido</button>
                                </form>

                                
                            </td>
                        </tr>


                        <tr>
                            
                            <td colspan="4" align="right">
                                <a class="btn btn-success" href="{% url 'pedidos:create' %}">Continuar</a>
                            </td>
                            
                        </tr>

                    </tbody>
                
            </table>
        </div>
    </div>
</div>
{% endblock %}


