.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


#login-div{
	

	}

#login-container{
	background: rgba(255, 255, 255, 0.6);
}


.footerrow{
	width: 100%;


}
.footertab{
	display: inline-block;
	width: 30.333333%;
	margin: 0 !important;
	padding: 0 !important;
}


table.table tbody tr{
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.mcard{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em .5em 2em .5em;
}

.btn-block{
	width: 90% !important;
    margin: auto !important;
}

