header {
	background: #2c3e50;
	color:#fff;
}

.main {
	background: #f2f2f2;
}

.color {
	background: #34495e;
	color: #fff;
}

#cantidad {
	width: 2em;
	height: 1,1em;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}



aside {
	background: #CACCD0;
	color: #003366;
}

footer {
	background: #16a085;
	color: #fff;
}
body {
	background-color: black !important;
}



