
{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Menu</li>
  </ol>


  <div class="row">
    <div class="col-8">
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-utensils"></i>
          Menu / 
          <a class="btn btn-primary ml-3 right" href="{% url "menu:create" %}">Agregar Platillo</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Platos/ Productos</th>
                  <th>Precio</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Imagen</th>
                  <th>Platos/ Productos</th>
                  <th>Precio</th>
                  <th>Accion</th>
                </tr>
              </tfoot>
              <tbody>
                {% for menu in object_list %}
                <tr>
                  <td colspan="" rowspan="" headers="">
                   
                   <img src="{{menu.imagen.url}}" alt="Platillo" width="110" height="100">
                   
                 </td>

                 <td colspan="" rowspan="" headers="">
                  <div class="row">
                    <div class="col-12">
                      <a class="" href="{% url "menu:detail" pk=menu.uuid %}">{{ menu.nombre }} </a>


                    </div>
                    <div class="col-12">
                      <small>Categoria: <a class="" href=""">{{ menu.categoria_uuid }} </a></small>


                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="small">{{menu.descripcion}}</p>
                    </div>

                  </div>
                </td>

                <td colspan="" rowspan="" headers="">
                  <p><strong>${{ menu.precio }}</strong></p>
                </td>

                <td colspan="" rowspan="" headers="">
                  <div class="row">
                    <div class="col-12">
                      <a class="btn-sm btn-primary" href="{% url "menu:update" pk=menu.uuid %}">Editar </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <a class="btn-sm btn-danger" href="{% url "menu:delete" pk=menu.uuid %}">Eliminar </a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">  Updated yesterday at 11:59 PM
        </div>
      </div>
    </div>

  <div class="col-4">
    <div class="card" style="">
      <div class="card-header">
        Filtrar por Categorias

                    <a href="{% url 'menu:list' %}" class="btn btn-sm btn-success">limpiar</a>


      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for categoria in categorias_list %}
          <li class="list-group-item">
            <a href="{% url 'menu:list' %}?categoria={{ categoria.uuid }}">{{categoria.nombre}}</a>
          </li>
          {% endfor %} 
        </ul>
      </div>

      <div class="card-footer">
        <a class="btn btn-block btn-primary" href="{% url 'menu:catCreate' %}">Agregar Categoria</a>
      </div>
    </div>
  </div>
</div>




</div>
<!-- /.container-fluid -->

<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Restalli.com 2018</span>
    </div>
  </div>
</footer>




<script  type="text/javascript" charset="utf-8">
  $(document).ready(function() {
  
    $('#dataTable').DataTable({
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25,50,  "Todos"]],
      "language": {
          search: "_INPUT_",
          searchPlaceholder: "Buscar...",
      "decimal":        "",
      "emptyTable":     "Sin informacion disponible para la tabla",
      "info":           "Ver _START_ hasta _END_ de _TOTAL_ registros",
      "infoEmpty":      "Mostrando 0 hasta 0 de 0 registros",
      "infoFiltered":   "(Filtrado de _MAX_ registros totales)",
      "infoPostFix":    "",
      "thousands":      ",",
      "lengthMenu":     "Mostrar _MENU_ Entradas",
      "loadingRecords": "Cargando...",
      "processing":     "Procesando...",

      "zeroRecords":    "No se encontro nada",
      "paginate": {
          "first":      "Primera",
          "last":       "Última",
          "next":       "Próxima",
          "previous":   "Anterior"
      },
      "aria": {
          "sortAscending":  ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
      }


          }
    });
  });
</script>
{% endblock %}


