
{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="col-12">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}

		

		<div class="row">
			<div class="form-group col-8">
				<label for="{{ form.nombre.id_for_label }}"> Nombre nombre:</label>
		        {% render_field form.nombre class="form-control" %}

		          <span class="help-block">{{ form.nombre.errors }}</span>
		     

			</div>

			<div class="form-group col-4">

				<label for="{{ form.categoria_uuid.id_for_label }}">categoria_uuid:</label>
		        {% render_field form.categoria_uuid class="form-control" %}

		        <span class="help-block">{{ form.categoria_uuid.errors }}</span>


				
			</div>
		</div>

		<div class="row">
			<div class="form-group col-12">


				<label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
		        
				{% render_field form.descripcion type='textarea' class="form-control" %}
		        <span class="help-block">{{ form.descripcion.errors }}</span>
			</div>
		</div>

		<div class="row">
			<h4>Imagen del Producto:</h4>
			<div class="form-group col-6">
				<div class="image-responsive">
					
				</div>
			</div>
			
			<div class="form-group col-6">
				<div class="custom-file">
				  <input type="file" class="custom-file-input" name="imagen" id="imagen">
				  <label class="custom-file-label" for="customFile">Choose file</label>
				</div>
			</div>
		</div>



		<div class="row">
			
			<div class="form-group col-6">
				<label for="{{ form.precio.id_for_label }}">Precio:</label>
		        {% render_field form.precio class="form-control" %}

		        <span class="help-block">{{ form.precio.errors }}</span>
			</div>

			<div class="form-group col-6">
				<label for="{{ form.status.id_for_label }}">status:</label>
		        {% render_field form.status class="form-control" %}

		        <span class="help-block">{{ form.status.errors }}</span>
			</div>
		</div>

		<div class="row">
			
		</div>

    

		<input type="button" value="Cancelar" class="btn btn-default"/>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}


