{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item ">Menu</li>
    <li class="breadcrumb-item ">Nuevo</li>
    <li class="breadcrumb-item active">Detalle</li>
  </ol>



  <div class="row">
    <div class="col-12">
      <div class="card mb-3" style="">
        <div class="card-header">
          <h3>Nuevo Producto</h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9"><p>{{producto.nombre}}</p></dd>

            <dt class="col-sm-3">Precio:</dt>
            <dd class="col-sm-9"><p>{{producto.precio}}</p></dd>

            <dt class="col-sm-3">Categoria:</dt>
            <dd class="col-sm-9"><p>{{producto.categoria_uuid}}</p></dd>

            <dt class="col-sm-3">Descripcion:</dt>
            <dd class="col-sm-9"><p>{{producto.descripcion}}</p></dd>
          </dl>

        </div>

        <div class="card-footer">
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">


















      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          <h3>Seleccionar Stock</h3>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              {% if productoStock_list %}
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Producto</th>
                      <th>Stock actual</th>
                      <th>Agregar</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Producto</th>
                      <th>Stock actual</th>
                      <th>Agregar</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for stock in productoStock_list %}
                    <tr>
                      <!--Producto-->
                      <td>

                        <p class="small">{{stock.nombre}}</p>

                      </td>
                      <!-- s actual -->
                      <td>

                        <p class="small">{{stock.stock_disponible}}</p>

                      </td>

                      <td>
                        <form method="post">
                          {% csrf_token %}
                          <div class="row">
                            <div class="form-group col-5">
                              
                              <input type="hidden" id="uuid" name="uuid" value="{{stock.uuid}}">
                              
                              <input type="hidden" id="nombre" name="nombre" value="{{stock.nombre}}">
                              
          
                              
                              <input class="form-control" min="1" type="number" name="qty" id="qty" value="0" placeholder="0">

                            </div>
                            <div class="col-7">
                              <input type="submit" value="Agregar" name="add" class="btn-sm btn-primary">
                            </div>
                          </div>
                        </form>


                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                {% block pagination %}
                {% if is_paginated %}
                <div class="pagination">
                  <span class="page-links">
                    {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                  </span>
                </div>
                {% endif %}
                {% endblock %}
              </div>
              {% else %}
              <p>No Existen productos.</p>
              {% endif %}
            </div>

            <div class="col-3">

              <div class="row">

                <div class="card" style="">
                  <div class="card-header">
                    Categorias
                  </div>
                  <div class="card-body">
                    <ul class="list-group list-group-flush">
                      {% for categoria_id, categoria_nombre in categorias_list %}
                      <li class="list-group-item">
                        <a href="{% url 'menu:list' %}?categoria={{ categoria_id }}">{{categoria_nombre}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          

          </div>
          
        </div>
        <div class="card-footer small text-muted">Menu
        </div>
      </div>




      <div class="card mb-3" style="">
        <div class="card-header">
          Seleccion
        </div>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <form method="post">
              {% csrf_token %}
              <thead>
                <th>Porciones.</th>
                <th>Producto</th>
              </thead>



              <tbody>
                {% for selectProduct in seleccion_list %}   
                <tr>
                  <td>
                    <input id="uuid" type="hidden" value="{{selectProduct.uuid}}">

                    <input class="form-control form-sm" id="qty" type="number" min="1" max="10" value="{{selectProduct.qty}}">

                    <input type="hidden" name="nombre" value="{{selectProduct.nombre}}">
                  </td>

                  <td>
                    <p>{{selectProduct.nombre}}</p>
                  </td>


                </tr>
                {% endfor %}
                <!--FIN PRUEBA-->

                <tr>
                  <td colspan="2" align="left">

                    <button type="submit" name="clear" class="btn btn-sm btn-danger mr-2">Limpiar selección</button>
                    
                  </td>
                </tr>
              </form>

              <tr>
                <form method="post">
                  {% csrf_token %}
                  <td colspan="2" align="right">
                    <button type="submit" name="save" class="btn btn-primary">Guardar</button>
                  </td>
                </form>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

    </div><!--end col 12-->




    


  </div>
</div>



<p class="small text-center text-muted my-5">
  <em>More table examples coming soon...</em>
</p>

</div>
<!-- /.container-fluid -->

<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright © Your Website 2018</span>
    </div>
  </div>
</footer>



<script  type="text/javascript" charset="utf-8">
  $(document).ready(function() {
  
    $('#dataTable').DataTable({
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25,50,  "Todos"]],
      "language": {
          search: "_INPUT_",
          searchPlaceholder: "Buscar...",
      "decimal":        "",
      "emptyTable":     "Sin informacion disponible para la tabla",
      "info":           "Ver _START_ hasta _END_ de _TOTAL_ registros",
      "infoEmpty":      "Mostrando 0 hasta 0 de 0 registros",
      "infoFiltered":   "(Filtrado de _MAX_ registros totales)",
      "infoPostFix":    "",
      "thousands":      ",",
      "lengthMenu":     "Mostrar _MENU_ Entradas",
      "loadingRecords": "Cargando...",
      "processing":     "Procesando...",

      "zeroRecords":    "No se encontro nada",
      "paginate": {
          "first":      "Primera",
          "last":       "Última",
          "next":       "Próxima",
          "previous":   "Anterior"
      },
      "aria": {
          "sortAscending":  ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
      }


          }
    });
  });
</script>
{% endblock %}


