{% load static %}
<!doctype html>
<html lang="en">
<head>
	<title>Restalli</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



	<!-- Custom fonts for this template-->
	<link href=" {% static 'startbootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="{% static 'startbootstrap/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="{% static 'startbootstrap/css/sb-admin.css' %}" rel="stylesheet">

	<!-- Restalli template-->
	<link href="{% static 'css/estilos.css' %}" rel="stylesheet">

	<script>
		$('.dropdown-toggle').dropdown();
	</script> 	
</head>


<!-- - -->

<body id="page-top">

<nav class="navbar navbar-info bg-dark fixed-bottom navbar-expand-sm">
  <div class="footerrow">
  	<div class="footertab">
	  	<a class="btn btn-dark btn-block" href="/movil">
	  		<i class="fas fa-fw fa-tachometer-alt white"></i>
					Inicio	
	  	</a>
  	</div>
  	<div class="footertab">
	  <a class="btn btn-dark btn-block" href="{% url 'pedidos:mlist' %}">
	  	<i class="fas fa-fw fa-clipboard-check white" ></i>
	  	Pedidos
	  </a>
	</div>
	<div class="footertab">
	  <a class="btn btn-dark btn-block" href="{% url 'mesas:mlist' %}">
	  	<i class="fas fa-fw fa-chess-board white"></i>
	  	Mesas
	  </a>
	 </div>
  </div>
</nav>
	
	<div id="wrapper">


				<div id="content-wrapper">

					<div class="container-fluid" id="content">
						{% block content %}{% endblock %}
					</div>
					<!-- /.container-fluid -->

					<!-- Sticky Footer -->
					

				</div>
				<!-- /.content-wrapper -->

			</div>
			<!-- /#wrapper -->

			

	

			<!-- Bootstrap core JavaScript-->
			<script src="{% static 'startbootstrap/vendor/jquery/jquery.min.js' %}"></script>
			<script src="{% static 'startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

			<!-- Core plugin JavaScript-->
			<script src="{% static 'startbootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

			<!-- Page level plugin JavaScript-->
			<script src="{% static 'startbootstrap/vendor/chart.js/Chart.min.js"></script>
			<script src="{% static 'startbootstrap/vendor/datatables/jquery.dataTables.js' %}"></script>
			<script src="{% static 'startbootstrap/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

			<!-- Custom scripts for all pages-->
			<script src="{% static 'startbootstrap/js/sb-admin.min.js' %}"></script>

			<!-- Demo scripts for this page-->
			<!--<script src="{% static 'startbootstrap/js/demo/datatables-demo.js' %}"></script>
			<script src="{% static 'startbootstrap/js/demo/chart-area-demo.js' %}"></script>-->
			<div>
				


			</div>
		</body>


		</html>

