{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'stock:list' %}">Stock</a></li>
    <li class="breadcrumb-item active">Nuevo</li>
  </ol>


  <div class="row">
    <div class="col-12">
      <!-- DataTables Example -->
      <div class="card mb-3">


        <form method="post">
          {% csrf_token %}


          <div class="card-header">
            <i class="fas fa-table"></i>
              Ventas /
            <h3>Registrar Mesa</h3>
          </div>
        
          <div class="card-body">

            {% if form.errors%}
            <div class="row">
              <div class="alert alert-warning" role="alert">


                <p>{{form.errors}} </p>

                <hr>

              </div>
            </div>
            {% endif %}


            <div class="row">
              <div class="alert alert-warning" role="alert">
                <p>{{ form.errors}}</p>
              </div>     
            </div>

            <div class="row">
              <div class="form-group col-12">
                <label for="{{ form.identificador.id_for_label }}">{{ form.identificador.label }}:</label>
                {% render_field form.identificador class="form-control" %}

                {% for error in identificador.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}

              </div>
            </div>

            <div class="row">
              <div class="form-group col-12">
                <label for="{{ form.estado.id_for_label }}">{{ form.estado.label }}:</label>
                {% render_field form.estado class="form-control" %}

                {% for error in estado.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
          </div><!--end cardbody -->
          
          <div class="card-footer">
            <a href="{% url 'mesas:list' %}"  class="btn btn-default right">Cancelar</a>
            <input type="submit" value="Guardar" class="btn btn-primary right"/>
          </div>
        </form>
      </div><!-- / card -->
    </div><!--/col-12-->
  </div><!-- /row -->





    {% endblock %}






