{% extends "stock/base.html" %}

{% block content %}



            <h4>Categorías del STOCK</h4> <hr>
     
    <div class="row">
        <div class="col-12">
             <a class="btn btn-primary pull-right" href="/categoria/nuevo/">Agrega Categorias</a>   
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="list-group">
              <!-- <a  class="list-group-item list-group-item-action active ">-->
              <thead>
           
                    
              </tr>
          

           <div class="table-responsive">
                        <table class="table">
                            <thead>
                           <tr>
                  <th>Nombre</th>
                    <th>Estado</th>
                     <th>Usuario</th>
                     
            <tbody>
              {% for categoria in list %}
              <a  class="list-group-item list-group-item-action">
               {{ categoria.nombreCategoria }}
                {{ categoria.status }}
                {{ categoria.user_uuid }}
                
</thead>
                </a>
              </tbody>
              {% endfor %}
          
            </div>
            <p>
</p>
        </div>
    </div>
</div>
            


{% endblock %}