{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="main row">
  <!--xs movil, sm y md tablets, lg pc-->
  <article class="col-md-8">
    <div class="row">
      <div class="col-12">
        <h3>Menú/ </h3>  <h4> Desayunos</h4>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary" href="{% url "menu:create" %}">Agregar Producto</a>
      </div>
    </div>
    <div class="row">
      {% if productoStock_list %}
      <!-- code here to list the books -->
      {% else %}
      <p>No Existen Platillos/ productos.</p>
      {% endif %}

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>


              <th>Código</th>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Porciones</th>
              <th>Unidad Porcion</th>
              <th>Perecible</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>

            {% for producto in productoStock_list %}
            <tr>
              <!--codigo-->
              <td>
                <div class="row">
                  <div class="col-12">
                    <p class="small">{{producto.codigo}}</p>
                  </div>

                </div>
              </td>
              <!-- nombre -->
              <td>
                <div class="row">
                  <div class="col-12">
                    <p class="small">{{producto.nombre}}</p>
                  </div>

                </div>

              </td>

              <!-- categoria -->
              <td>
                <div class="row">

                  <div class="col-12">
                    <a href="">{{ producto.categoria }}</a>
                  </div>
                </div>
              </td>

              <!-- porciones -->
              <td>
                <div class="col-12">
                  <p class="small">{{producto.porcion}}</p>
                </div>
              </td>

              <!-- unidad medida -->
              <td>
                <div class="col-12">
                  <p class="small">{{producto.unidad_medida}}</p>
                </div>
              </td>

              <!-- perecible -->
              <td>
                <div class="col-12">
                  <p class="small">{{producto.no_perecible}}</p>
                </div>
              </td>

              <!-- estado -->
              <td>
                <div class="col-12">
                  <p class="small">{{producto.status}}</p>
                </div>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table> 
        <hr>
      </div>
    </div>


    {% block pagination %}
    {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
    {% endblock %}

  </article>

  <aside class="col-md-4">
    <br>
    <h4>Categorías del Menú</h4> <hr>
    <div class="listaCategoria">
      <ul class="list-group">
        {% for categoria in categorias_list %}
        <li class="list-group-item">
          <a href="{% url 'menu:list' %}?categoria={{ categoria.uuid }}">{{categoria.nombre}}</a></li>
          {% endfor %}    
        </ul>                    
      </div>
      <hr>

    </aside>
  </section>

  {% endblock %}