{% extends "stock/base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<div class="col-12">
  <form method="post">
    {% csrf_token %}

    

    <div class="row">
      <div class="form-group col-8">
        <label for="{{ form.nombreProducto.id_for_label }}"> Nombre nombreProducto:</label>
            {% render_field form.nombreProducto class="form-control" %}

              <span class="help-block">{{ form.nombreProducto.errors }}</span>
         

      </div>

      <div class="form-group col-4">

        <label for="{{ form.categoria_uuid.id_for_label }}">categoria_uuid:</label>
            {% render_field form.categoria_uuid class="form-control" %}

            <span class="help-block">{{ form.categoria_uuid.errors }}</span>


        
      </div>
    </div>

    <div class="row">
      <div class="form-group col-4">


        <label for="{{ form.codigo.id_for_label }}">codigo:</label>
            
        {% render_field form.codigo  class="form-control" %}
            <span class="help-block">{{ form.codigo.errors }}</span>
      </div>
    
      
      <div class="form-group col-4">
        <label for="{{ form.porcion.id_for_label }}">porcion:</label>
            {% render_field form.porcion class="form-control" %}

            <span class="help-block">{{ form.porcion.errors }}</span>
      </div>

      <div class="form-group col-4">
        <label for="{{ form.unidadMedida.id_for_label }}">unidadMedida:</label>
            {% render_field form.unidadMedida class="form-control" %}

            <span class="help-block">{{ form.unidadMedida.errors }}</span>
      </div>
    </div>


    
    <div class="row">
      
      <div class="form-group col-6">
        <label for="{{ form.fechaElaboracion.id_for_label }}">fechaElaboracion:</label>
            {% render_field form.fechaElaboracion class="form-control" %}

            <span class="help-block">{{ form.fechaElaboracion.errors }}</span>
      </div>

      <div class="form-group col-6">
        <label for="{{ form.fechaExpiracion.id_for_label }}">fechaExpiracion:</label>
            {% render_field  form.fechaExpiracion class="form-control" %}

            <span class="help-block">{{ form.fechaExpiracion.errors }}</span>
      </div>
    </div>


    <div class="row">
      
      <div class="form-group col-6">
        <label for="{{ form.precio.id_for_label }}">precio:</label>
            {% render_field form.precio class="form-control" %}

            <span class="help-block">{{ form.precio.errors }}</span>
      </div>

      <div class="form-group col-6">
        <label for="{{ form.status.id_for_label }}">status:</label>
            {% render_field form.status class="form-control" %}

            <span class="help-block">{{ form.status.errors }}</span>
      </div>
    </div>



    



    


        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}


