{% extends "stock/base.html" %}
{% load static %}
{% block content %}

<main role="main">
        <div class="container">
            <div class="col-12">
            <h2 align="center">Inventario</h2>
            <hr>
            </div>
            </div>
          

            
        <div class="row" id="search">
            <div class="col-6">
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 col-6" type="search" placeholder="Buscar producto por nombre" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
  
            <div class="col-6"></div>
          </div>

      </main>

      <hr>
      <div class="row" id="table">
      <table class="table table-striped">
          <div class="col-12">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Codigo</th>
                  <th>Porcion</th>
                  <th>Unidad de Medida</th>
                  <th>precio</th>
                  <th>fecha</th>
                  <th>categoria</th>
                  <th>Estado</th>
              </tr>
          </thead>
          <tbody>
              {% for stock in object_list %}
                  <tr>
                  <td>{{ stock.nombreProducto }}</td>
                  <td>{{ stock.codigo }}</td>
                  <td>{{ stock.porcion }}</td>
                  <td>{{ stock.unidadMedida }}</td>
                  <td>{{ stock.precio }}</td>
                  <td>{{ stock.fechaElaboracion }}</td>
                  <td>{{ stock.categoria_uuid }}</td>
                  <td>{{ stock.status }}</td>
                  <td><a class="btn btn-info" href="{% url 'stock:update' pk=stock.uuid %}">Editar</a>
                     <a class="btn btn-danger" href="{% url 'stock:delete' pk=stock.uuid  %}">Eliminar</a>
                  </td>
              </tr>
              {% endfor %}
             
              
          </tbody>

        </table>
        <a class="btn btn-primary" href="{% url 'stock:Create'  %}">Agregar</a>
        {% block pagination %}
                      {% if is_paginated %}
                          <div class="pagination">
                              <span class="page-links">
                                  {% if page_obj.has_previous %}
                                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                  {% endif %}
                                  <span class="page-current">
                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                  </span>
                                  {% if page_obj.has_next %}
                                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                  {% endif %}
                              </span>
                          </div>
                      {% endif %}
                    {% endblock %}
    </div>
                <aside class="col-md-4">
                    <br>
                    <h4>Categorías del Stock</h4> <hr>
                    <div class="listaCategoria">
                        <ul class="list-group">
                            {% for categoria in categorias_list %}
                            <li class="list-group-item">
                                <a href="{% url 'stock:list' %}?categoria={{ categoria.uuid }}">{{categoria.nombreCategoria}}</a></li>
                            {% endfor %}    
                        </ul>                    
                    </div>
                    <hr>
                
                </aside>
                <a class="btn btn-primary" href="{% url 'stock:catCreate'  %}">Agregar</a>
            </section>

   
                                                
{% endblock %}