{% extends "stock/base.html" %}
{% load static %}
{% block content %}

{% block title %}Stock Logico{% endblock %}


<div class="col-12">
    <div class="row">
        <div class="col-12">
            <h1>{{title}}</h1> 
        </div>
    </div>

    

    
      <div class="row" id="table">
      <table class="table table-striped">
          <div class="col-12">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>inicial</th>
                  <th>descontado</th>
                  <th>final</th>
                  <th>observacion</th>
                  <th>estado</th>
                  <th>usuario</th>
              </tr>
          </thead>
          <tbody>
              {% for stock in object_list %}
                  <tr>
                  <td>{{ stock.producto_uuid }}</td>
                  <td>{{ stock.stockInicial }}</td>
                  <td>{{ stock.StockDescontado }}</td>
                  <td>{{ stock.StockFinal }}</td>
                  <td>{{ stock.observaciones }}</td>
                  <td>{{ stock.status }}</td>
                  <td>{{ stock.user_uuid }}</td>
                  <td>
            <a class="btn btn-info" href="{% url 'stock:logUpdate' pk=stock.uuid %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'stock:logDelete' pk=stock.uuid  %}">Eliminar</a>
                  </td>
            


              {% endfor %}
            </tbody>
            </div>

                <a class="btn btn-primary" href="{% url 'stock:logcreate'  %}">Agregar</a>
        </div>
    </div>
</div>
            


{% endblock %}
