{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}

<div class="col-12">
  <form method="post">
    {% csrf_token %}
    
    <div class="row">
      <pre>{{form.errors}}</pre>
    </div>
    <div class="row">


      <div class="form-group col-10">
        <label for="{{ form.producto_uuid.id_for_label }}">{{form.producto_uuid.label}}:</label>
        {% render_field form.producto_uuid class="form-control"  %}



        <span class="help-block">{{ form.producto_uuid.errors }}</span>

      </div>

      



      
    </div>

    <div class="row">

      <div class="form-group col-4">

        {% if accion != 'descontar'%}
        <label for="{{ form.stock_descontado.id_for_label }}">Agregar:</label>
        {% else %}
        <label for="{{ form.stock_descontado.id_for_label }}">Descontar:</label>
        {% endif %}

        {% render_field form.stock_descontado  class="form-control" %}
        <span class="help-block">{{ form.stock_descontado.errors }}</span>
      </div>


      <div class="form-group col-4">

        <label for="{{ form.stock_inicial.id_for_label }}">{{form.stock_inicial.label}}:</label>
        {% render_field form.stock_inicial class="form-control" %}

        <span class="help-block">{{ form.stock_inicial.errors }}</span>


        
      </div>

      <div class="form-group col-4">

        <label for="{{ form.stock_final.id_for_label }}">{{form.stock_final.label}}:</label>
        {% render_field form.stock_final class="form-control" %}

        <span class="help-block">{{ form.stock_final.errors }}</span>


        
      </div>

      
    </div>
    

    
    <div clas="row">
      

      
    </div>
    
    



    {% if accion != 'descontar'%}
    <div class="row">

      
      <div class="form-group col-6">
        <label for={{ form.precio_unitario.id_for_label }}">{{form.precio_unitario.label}}:</label>
        {% render_field form.precio_unitario class="form-control"  %}

        <span class="help-block">{{ form.precio_unitario.errors }}</span>
      </div>
    

    <div class="form-group col-6">
        <label for={{ form.precio_total.id_for_label }}">{{form.precio_total.label}}:</label>
        {% render_field form.precio_total class="form-control"  %}

        <span class="help-block">{{ form.precio_total.errors }}</span>
      </div>
      
      
    </div>
    {% endif %}




    

    {% if accion != 'descontar' and producto.no_perecible == False %}
    <div class="row">

      <div class="form-group col-3">
        <label for="{{ form.fecha_elaboracion.id_for_label }}">{{form.fecha_elaboracion.label}}:</label>
        {% render_field form.fecha_elaboracion class="form-control" %}

        <span class="help-block">{{ form.fecha_elaboracion.errors }}</span>
      </div>

      <div class="form-group col-3">
        <label for={{ form.fecha_expiracion.id_for_label }}">{{form.fecha_expiracion.label}}:</label>
        {% render_field form.fecha_expiracion class="form-control"  %}

        <span class="help-block">{{ form.fecha_expiracion.errors }}</span>
      </div>
      


    </div>
    {% endif %}



    <div class="row">



      <div class="form-group col-12">
        <label for="{{ form.observaciones.id_for_label }}">observaciones:</label>
        {% render_field form.observaciones class="form-control" %}

        <span class="help-block">{{ form.observaciones.errors }}</span>
      </div>
    </div>

    <div class="row">



      <div class="form-group col-12">
        <label for="{{ form.status.id_for_label }}">status:</label>
        {% render_field form.status class="form-control" %}

        <span class="help-block">{{ form.status.errors }}</span>
      </div>
    </div>




    <input type="submit" value="Crear" class="btn btn-default" />
    <input type="button" value="Cancelar" class="btn btn-default"/>
  </form>
</div>

<script  type="text/javascript" charset="utf-8">
  
  $( document ).ready(function() {
        console.log( "document ready!" );
        
        let fecha_el_input_id = {{ form.fecha_elaboracion.id_for_label }};
        let fecha_ex_input_id = {{ form.fecha_expiracion.id_for_label }};

        var now = new Date();
        var today =  now.getFullYear()  + '-'  + (now.getMonth() + 1) + '-'  + now.getDate()  + '';
        +
        $(fecha_el_input_id).val(today);
        $(fecha_ex_input_id).val(today);

    });


  let pu_input_id = {{ form.precio_unitario.id_for_label }};
  let pt_input_id = {{ form.precio_total.id_for_label }};
  let sd_input_id = {{ form.stock_descontado.id_for_label }};


  

  $(pu_input_id).on("change", function() {
    alert("change")
    let total = $(pu_input_id).val() * $(sd_input_id).val()
    alert(total)
    $(pt_input_id).val(total);
    
  }); 

  $(sd_input_id).on("change", function() {
    alert("change")
    let total = $(pu_input_id).val() * $(sd_input_id).val()
    alert(total)
    $(pt_input_id).val(total);
    
  }); 
  

  
</script>



{% endblock %}