{% extends "base_movil.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row">



<div class="card text-white bg-danger mb-3 col-12" >
  <div class="card-header">Modulo Pedidos</div>
  <div class="card-body">
    <h5 class="card-title">Administrar Pedidos</h5>
    <p class="card-text"><a class="btn btn-bg btn-primary" href="{% url 'pedidos:list' %}">Ir a Pedidos</a></p>
  </div>
</div>

<div class="card text-white bg-info mb-3 col-12" >
  <div class="card-header">Modulo Mesas</div>
  <div class="card-body">
    <h5 class="card-title">Administrar Mesas</h5>
    <p class="card-text"><a class="btn btn-bg btn-primary" href="{% url 'mesas:list' %}">Ir a Mesas</a></p>
  </div>
</div>


</div>
{% endblock %}
