{% extends "base_movil.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row">


<div class="col-12">
<div class="card text-white bg-danger mb-3 mx-2" >
  <div class="card-header">
  <i class="fas fa-fw fa-clipboard-check"></i>
  Modulo Pedidos</div>
  <div class="card-body">
    
    <h5 class="card-title">Administrar Pedidos</h5>
    <p class="card-text"><a class="btn btn-bg btn-primary" href="{% url 'pedidos:mlist' %}">Ir a Pedidos</a></p>
  </div>
</div>
</div>
<div class="col-12">
<div class="card text-white bg-info mb-3 mx-2" >
  <div class="card-header">
  <i class="fas fa-fw fa-chess-board white"></i>
Modulo Mesas</div>
  <div class="card-body">
    
    <h5 class="card-title">Administrar Mesas</h5>
    <p class="card-text"><a class="btn btn-bg btn-primary" href="{% url 'mesas:mlist' %}">Ir a Mesas</a></p>
  </div>
</div>
</div>


</div>
{% endblock %}
